/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px; /* Добавлено для мобильной версии */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffb6c1;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0 10px;
}

button:hover {
    background-color: #ff69b4;
}

.description {
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
}

/* Адаптивные стили */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 10px 0;
        width: 100%; /* Кнопки на всю ширину контейнера на мобильных устройствах */
    }
}

